<a href="https://colab.research.google.com/github/cnyakundi/week_4_ip/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2021_08_Cyprian_Nyakundi__Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 indepedent project

# Importing our libraries

In [ ]:
#Importing pandas 

import pandas as pd 

# Importing numpy 

import numpy as np

# Loading our data from CSV 

You can get the data and the dataset description for this Independent project here [http://bit.ly/autolib_dataset] and here respectively [Link].  The dataset contains data collected for a period of 9 days. The dataset may take a bit of some time to load [~ 10 minutes]. 


# Creating and reading our data frame

In [ ]:
df=pd.read_csv('Autolib_dataset (2).csv')

# Previewing the loaded data

In [ ]:
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

# Accessing Information about our Dataset

In [ ]:
# #Accessing information about our data using .info and .shape 

df.shape

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning the data

In [ ]:
# We drop columns that we wont need 

df.drop(["Displayed comment", "Scheduled at", "month", "year", "Cars"], axis = 1, inplace = True)

#Preview and confirm if changes have been effected 

df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 20 columns]

#Renaming columns and fixing syntax errors

In [ ]:
# For uniformity 

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('_counter', '').str.replace('1.4', '14')

df

                                 address  cars  bluecar  ...  day  hour  minute
0                    2 Avenue de Suffren     0        0  ...    8    11      43
1              145 Rue Raymond Losserand     6        6  ...    6     7      24
2       2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4      37
4     6 avenue de la Porte de Champerret     3        3  ...    8    17      23
...                                  ...   ...      ...  ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2        2  ...    6    11      26
4996                   37 rue de Dantzig     4        4  ...    4    16      56
4997                      142 rue du Bac     1        1  ...    1     7       1
4998         2 avenue du Val de Fontenay     2        2  ...    4    17      27
4999                 5 Rue Henry Brisson     4        4  ...    8    10       2

[5000 rows x 25 columns]

# Removing outliers

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1


df_without_outliers = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR)))]
df_without_outliers.head(5)

                              address  cars  bluecar  ...  day  hour  minute
0                 2 Avenue de Suffren     0        0  ...    8    11      43
1           145 Rue Raymond Losserand     6        6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3        3  ...    8    17      23

[5 rows x 25 columns]

# Checking for None V

In [ ]:
#Checking Null alues 
df_without_outliers.isnull().sum()

address                   0
cars                      0
bluecar                   0
utilib                  286
utilib_14               569
charge_slots            994
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# Backward filling the data

In [ ]:
# Pandas dataframe.bfill() is used to backward fill the missing values in the dataset. It will backward fill the NaN values that are present in the pandas dataframe.

new_filled_data= df_without_outliers.fillna(method='bfill')

new_filled_data.head(3)

                            address  cars  bluecar  ...  day  hour  minute
0               2 Avenue de Suffren     0        0  ...    8    11      43
1         145 Rue Raymond Losserand     6        6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20      14

[3 rows x 25 columns]

#Answering business questions

In [ ]:
 # Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
new_filled_data['bluecar_diff'] = new_filled_data.bluecar.diff()
new_filled_data['utilib_diff'] = new_filled_data.utilib.diff()
new_filled_data['utilib_14_diff'] = new_filled_data.utilib_14.diff()


paris = new_filled_data['city'] == 'Paris'
pickup = new_filled_data['bluecar_diff'] < 0

paris_p_p_hours = new_filled_data[paris & pickup].groupby('hour')['hour'].value_counts().sort_values(ascending = False).head(1)
paris_p_p_hours

hour  hour
21    21      80
Name: hour, dtype: int64

In [ ]:
# What is the most popular hour for returning cars?

dropoff =new_filled_data['bluecar_diff'] > 0

new_filled_data[dropoff].groupby('hour')['hour'].value_counts().sort_values(ascending = False).head(1)

hour  hour
6     6       101
Name: hour, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue cars?


pickup = new_filled_data['bluecar_diff'] < 0

new_filled_data[pickup].groupby('postal_code')['hour'].count().sort_values(ascending = False).head(1)

postal_code
75015    116
Name: hour, dtype: int64